/* Resume.css */

.resume-link {
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: transform 0.3s, color 0.3s;
}

.resume-link:hover {
  transform: translateY(-3px);
  color: #007bff;
}

.resume-icon {
  font-size: 2rem;
  margin-right: 10px;
  vertical-align: middle;
}

.proficiencies {
  margin-top: 30px;
  text-align: left;
}

.proficiencies h4 {
  margin-bottom: 10px;
}

.proficiencies ul {
  list-style: disc;
  margin-left: 20px;
  font-size: 1.1rem;
}

.btn-back {
  margin-top: 30px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-back:hover {
  background-color: #0056b3;
}
