#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.resume-link {
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: transform 0.3s, color 0.3s;
}

.resume-link:hover {
  transform: translateY(-3px);
  color: #007bff;
}

.resume-icon {
  font-size: 2rem;
  margin-right: 10px;
  vertical-align: middle;
}

.proficiencies-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: #e4e4e8;
}

.proficiency-section {
  width: 30%; 
  text-align: center; 
}

.proficiency-section h4 {
  margin-bottom: 10px;
}
.btn-back {
  margin-top: 30px;
  background-color: #D5CFE1;
  color: #464655;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-back:hover {
  background-color: #94958B;
}
