.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid #ddd; */
  font-family: "Playfair Display", serif;
}

.nav-link {
  color: #EDDFEF;
  font-size: 18px;
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #B7B6C1;
  font-weight: bolder;
  text-decoration: none;
}